.main {
  position: relative;
  padding-inline: var(--inline-padding);
  min-height: fit-content;
}

.gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 12em;
  background: linear-gradient(
    180deg,
    var(--background-secondary),
    var(--background)
  );
  z-index: -1;
  translate: calc(-1 * var(--inline-padding));
}

.title {
  font-size: var(--title-size);
}

.columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 8em;
  padding-top: 2em;
}

.text {
  text-indent: 4ch;
  font-size: var(--body-size);
  line-height: calc(var(--body-size) * 3 / 2);
}

.imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  translate: 0 2em;
}

.img {
  width: 100%;
  aspect-ratio: 7 / 11;
  object-fit: cover;
}

.book {
  translate: 0 -5%;
}

.podcast {
  translate: 0 10%;
}

.keyboard {
  translate: 0 -20%;
}

@media (width <= 768px) {
  .text {
    padding-inline: 4em;
  }

  .columns {
    grid-template-columns: 1fr;
    row-gap: 4em;
  }
}

@media (width <= 425px) {
  .text {
    padding-inline: 0;
  }

  .columns {
    row-gap: 2em;
  }
}