.main {
  min-height: 0;
  padding-block: 8em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: var(--inline-padding);
}

.title {
  font-size: var(--title-size);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 0.25em;
}

.form input {
  background-color: transparent;
  width: 100%;
  height: 100%;
  font-size: var(--body-size);
}

.form input:focus {
  box-shadow: none;
}

.email,
.name {
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding-left: 1em;
  height: 2.5em;
  display: flex;
  align-items: center;
  gap: 1em;
}

.email:has(input:focus),
.name:has(input:focus) {
  box-shadow: 0 0 0 3px var(--accent);
}

.form textarea {
  resize: none;
  border-radius: 8px;
  padding: 0.5em;
  border: 3px solid transparent;
  font-size: var(--body-size);
}

.form textarea:focus {
  border-color: var(--accent);
}

.btn {
  display: flex;
  justify-content: center;
  width: 40%;
  padding-block: 0.5em;
  border: none;
  border-radius: 8px;
  outline: none;

  background-color: var(--accent);
  color: var(--background);
  font-size: var(--body-size);
  cursor: pointer;
}

.right {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 4em;
}

.icon {
  font-size: 4em;
  fill: var(--primary);
}

.icon:hover {
  fill: var(--accent);
}

@media (width <= 425px) {
  .main {
    grid-template-columns: 1fr;
  }

  .form {
    padding-left: 0.5em;
  }
}
