.main {
  background-color: var(--background-secondary);
  padding-inline: 4em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.title {
  opacity: 0;
  font-size: 3rem;
  animation: appear linear forwards;
  animation-timeline: view();
  animation-range-start: 100px;
  animation-range-end: 350px;
}

.project {
  background-color: var(--background);
  border-radius: 25px;
  padding: 2em;
  margin-inline: 4em;

  animation: float-in linear forwards;
  animation-timeline: view();
  animation-range: 0% 400px;
}

.project-two {
  animation: float-in-opposite linear forwards;
  animation-timeline: view();
  animation-range: 0% 400px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.img {
  width: 80%;
  border-radius: 8px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-right: 3em;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5em;
}

.technologies li {
  color: var(--accent);
  border: var(--accent);
  padding: 0.25em 0.5em;
  border-radius: 5px;
  border: thin solid var(--accent);
}

.links {
  display: flex;
  gap: 2em;
}

.link {
  font-size: .9em;
  color: var(--accent);
}

@keyframes appear {
  from {
    opacity: 0;
    translate: 0 -100%
  }

  to {
    opacity: 1;
    translate: 0
  }
}

@keyframes float-in {
  from {
    opacity: 0;
    translate: 20% -10%;
    scale: 0.8;
    rotate: 15deg
  }

  to {
    opacity: 1;
    translate: 0;
    scale: 1;
    rotate: 0deg
  }
}

@keyframes float-in-opposite {
  from {
    opacity: 0;
    translate: -20% -10%;
    scale: 0.8;
    rotate: -15deg
  }

  to {
    opacity: 1;
    translate: 0;
    scale: 1;
    rotate: 0deg
  }
}