.main {
  background-color: var(--background-secondary);
  padding-inline: var(--inline-padding);
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

.title {
  font-size: var(--title-size);
  margin-bottom: calc(-0.2 * var(--gap-lg));
}

.project {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.project-backwards {
  grid-template-columns: 2fr 3fr;
}

.imgs {
  display: flex;
  align-items: center;
  gap: 2em;
}

.project-backwards .imgs {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.project-backwards .img-left,
.project-backwards .img-right {
  width: 100%
}

.img-left {
  width: 15vw;
  border-radius: 12px;
}

.img-right {
  width: 30vw;
  border-radius: 12px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 1em;
  row-gap: 0.5em;
}

.technologies li {
  color: var(--accent);
  border: thin solid var(--accent);
  border-radius: 5px;
  padding: 0.25em 0.5em;
  font-size: var(--body-size-sm);
}

.text {
  font-size: var(--body-size);
  line-height: calc(var(--body-size) * 3 / 2);
}

.links {
  display: flex;
  gap: 1em;
}

.link {
  font-size: var(--body-size-sm);
  color: var(--accent);
}

@media (width <= 425px) {
  .project {
    grid-template-columns: 1fr;
    row-gap: 2em;
  }

  .project:not(.project-backwards) .text-container {
    order: -1;
  }

  .project:not(.project-backwards) .imgs {
    order: 1
  }

  .img-left {
    display: none;
  }

  .project .imgs {
    display: grid;
    grid-template-columns: 1fr;
  }

  .img-right {
    width: 100%;
  }
}