.section {
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/grid.jpg");
  z-index: -1;
  background-size: cover;
  opacity: 0.15;
}

.supertitle {
  font-size: 1.2rem;
  color: var(--accent);
}

.title {
  font-size: 4rem;
  color: var(--primary);
  font-weight: 600;
}

.subtitle {
  line-height: 2.25rem;
  font-size: 1.5rem;
  color: var(--secondary);
  max-width: 45ch;
  text-align: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact {
  background-color: var(--accent);
  color: var(--background);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 2px 5px #0004;
}

.experience {
  background-color: var(--background);
  color: var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 2px 5px #0004;
}

.contact,
.experience {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
