*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: var(--primary);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.2em;
}

section {
  min-height: 100vh;
  padding-block: 4em;
}

input,
textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  caret-color: var(--accent);
}

input:focus,
textarea:focus {
  box-shadow: 0 0 3px var(--accent);
}

:root {
  --accent: #cf7500;
  --primary: #000;
  --secondary: #555;
  --background: #eee;
  --background-secondary: #fff;
  --background-trans: #eeed;

  --title-size: 3rem;
  --title-size-lg: 5rem;
  --body-size: 1.2rem;
  --body-size-sm: 1rem;
  --sub-heading-size: 1.5rem;

  --gap-lg: 12em;
  --inline-padding: 4em;
}

@media (width <= 1024px) {
  :root {
    --title-size-lg: 4rem;
    --title-size: 2.5rem;
    --body-size: 1rem;
    --body-size-sm: 0.8rem;

    --gap-lg: 8em;
  }
}

@media (width <= 768px) {
  :root {
    --inline-padding: 2em;
  }
}

@media (width <= 425px) {
  :root {
    --title-size: 2rem;
    --title-size-lg: 3rem;
    --body-size: 0.8rem;
  }
}

@media (width <= 320px) {
  :root {
    --inline-padding: 1em;
    --body-size: 0.7rem;
    --body-size-sm: 0.7em;
  }
}
